
body {
  background-color: gray;
  
}

.navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 25%; /* Full width */
}

.navbar a {
  float: left;
  width: fit-content;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  border-radius: 50%;
  margin-left:  2%;
}

.navbar a:hover {
  background: #ddd;
  color: black;
  font-size: x-large;
}

#content {

  margin-left: auto;
  margin-right: auto;
  width: 650px;
  float: center;
  padding-left: 100px;
}

div.home {
    float: center;
}

#greeting-container {
  margin-top: 20px;
}

div.iroh {
    position: relative;
  top: 80px;
  float: left;
  height: 300px;
  width: 200px;
  border: 3px solid #73AD21;
}